= simple_form_for @page, html: { class: "form-page" } do |f|
  .row
    .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
      = render "shared/form_errors", item: @page
      %p Add a Facebook page id:
      .form-group.input-group
        = f.input_field :page_id, class: "form-control", autofocus: true
        .input-group-btn
          = f.button :submit, "Add", class: "btn btn-primary"
      %p.help-block Examples: 28940545600, 5027904559, 10376464573…
