body {
  font-family: 'Droid Sans', sans-serif;
  background-color: $layout-background;
}
a {
  @include transition (all 0.2s ease-in-out);
  &:hover {
    text-decoration: none;
  }
}
.container-header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $brand-dark;
  color: white;
  text-align: center;
}
.project-name {
  font-size: 24px;
  line-height: 2em;
  color: white;
  &:hover {
    color: $brand-light;
  }
}
.container-main {
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 600px;
  background-color: white;
}
.heading {
  text-align: center;
}
